<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIcSsdpoGORBq96pjDOK09z7iUPikBLxI</string>
	<key>GCM_SENDER_ID</key>
	<string>799843421464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Auburn-CPSC.Final-Project</string>
	<key>PROJECT_ID</key>
	<string>stockresearchapp-9638c</string>
	<key>STORAGE_BUCKET</key>
	<string>stockresearchapp-9638c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799843421464:ios:39e30623cfffc0a425626d</string>
</dict>
</plist>